        .main-header
          .current-group{"data-group_id" => "987"}
            %h2.current-group__name aaa
            %ul.member-list
              %li.member-list__member kohkoh
          %a{:href => "/groups/987/edit"}
            .main-header__edit-btn Edit
