        .side-header
          %p.side-header__user-name kohkoh
          %ul.user-menu
            %li.user-menu__edit-user
              %a{:href => "/groups/new"}
                %i.fa.fa-edit
            %li.user-menu__new-group
              %a{:href => "/users/198/edit"}
                %i.fa.fa-cog
