!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %link{:href => "style.scss", :rel => "stylesheet", :type => "text/scss"}/
    %title ChatSpace
  %body
    .wrapper
      .chat-side

        .side-header
          %p.side-header__user-name kohkoh
          %ul.user-menu
            %li.user-menu__edit-user
              %a{:href => "/groups/new"}
                %i.fa.fa-edit
            %li.user-menu__new-group
              %a{:href => "/users/198/edit"}
                %i.fa.fa-cog


        .main-header
          .current-group{"data-group_id" => "987"}
            %h2.current-group__name aaa
            %ul.member-list
              %li.member-list__member kohkoh
          %a{:href => "/groups/987/edit"}
            .main-header__edit-btn Edit

        .messages
          .message{"data-message_id" => "2354"}
            .upper-info
              %p.upper-info__user kohkoh
              %p.upper-info__date 2019/05/04(Sat) 11:59:22
            %p.message__text aaa

        .form
          %form#new_message.new-message{"accept-charset" => "UTF-8", :action => "/groups/987/messages", :enctype => "multipart/form-data", :method => "post"}
            %input{:name => "utf8", :type => "hidden", :value => "✓"}/
            %input{:name => "authenticity_token", :type => "hidden", :value => "aJ74PAng1Ygtd6J60NhNjqPyMMqDvwCSPsOObACSCjwEtLFeJbFhV9q1qQULWwwyPuDtpJq9T4O/prKID7oSZw=="}/
            .input-box
              %input#message_content.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
              %label.image-label{:for => "message_image"}
                %i.fa.fa-image
                %input#message_image.image-label__input{:name => "message[image]", :type => "file"}/
            %input.new-message__submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/
